<form method="post" action="{{ path('customer_delete', {'id': customers.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customers.id) }}">
    <button class="btn btn-danger mt-5">Supprimer</button>
</form>