{% extends 'base.html.twig' %}

{% block title %}Ajouter un RDV.{% endblock %}

{% block body %}

<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
</style>

<div class="example-wrapper">
    <h2>Ajoutez un nouveau RDV :</h2>

    {{ form_start(form) }}

    {{ form_widget (form) }}

    <button class="btn btn-dark mt-5">Créer</button>

    {{ form_end(form) }}
</div>

{% endblock %}

